@font-face {
    font-family: 'Chillax-Variable';
    src: url('../font/chillax/Chillax-Variable.woff2') format('woff2'),
         url('../font/chillax/Chillax-Variable.woff') format('woff'),
         url('../font/chillax/Chillax-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Extralight';
    src: url('../font/chillax/Chillax-Extralight.woff2') format('woff2'),
         url('../font/chillax/Chillax-Extralight.woff') format('woff'),
         url('../font/chillax/Chillax-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Light';
    src: url('../font/chillax/Chillax-Light.woff2') format('woff2'),
         url('../font/chillax/Chillax-Light.woff') format('woff'),
         url('../font/chillax/Chillax-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Regular';
    src: url('../font/chillax/Chillax-Regular.woff2') format('woff2'),
         url('../font/chillax/Chillax-Regular.woff') format('woff'),
         url('../font/chillax/Chillax-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Medium';
    src: url('../font/chillax/Chillax-Medium.woff2') format('woff2'),
         url('../font/chillax/Chillax-Medium.woff') format('woff'),
         url('../font/chillax/Chillax-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Semibold';
    src: url('../font/chillax/Chillax-Semibold.woff2') format('woff2'),
         url('../font/chillax/Chillax-Semibold.woff') format('woff'),
         url('../font/chillax/Chillax-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Bold';
    src: url('../font/chillax/Chillax-Bold.woff2') format('woff2'),
         url('../font/chillax/Chillax-Bold.woff') format('woff'),
         url('../font/chillax/Chillax-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }


.homePageBody{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.homepageFirstImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.LogoSectionHome{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogoSectionHome{
    width: 100%;
    height: 100%;
}


.DevenezBenevoleSection{
    background-color: #0071E3;
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}

.DevenezBenevoleSectionRight{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.DevenezBenevoleSectionLeft{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 4%;
}

.DevenezBenevoleSectionLeft h1{
    color: white;
    font-size: 14vh;
    font-family: "chillax-Bold";
    line-height: 18vh;
    flex-grow: 40px;
    padding: 40px 0px;
}

.DevenezBenevoleButton{
    background-color: white;
    color: #0071E3;
    padding: 24px 90px;
    border: none;
    border-radius: 15px;
    font-size: 24px;
    font-family: "chillax-Bold";
    cursor: pointer;
}

.BenevoleCentreInteret{
    background-color: #FF5A5A;
    height: auto;
    margin-top: 4px;
}

.BenevoleCentreInteret h1{
    color: white;
    font-size: 8vh;
    font-family: "chillax-Bold";
    line-height: 8vh;
    padding: 40px 5vw;
}

.BenevoleCentreInteret h2{
    color: white;
    font-size: 4vh;
    font-family: "chillax-Semibold";
    line-height: 4vh;
    padding: 80px 5vw;
}

.BenevoleCentreInteretText{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.BenevoleCentreInteretButtonSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0px;
}

.BenevoleCentreInteretButton{
    background-color: white;
    color: #000000;
    padding: 16px 40px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family: "chillax-Bold";
    cursor: pointer;
    margin: 30px 4vw;
}

.HomePageAvisSection{
    background-color: #6A6AF4;
}

@media screen and (max-width: 768px){

    .DevenezBenevoleSection{
        flex-direction: column-reverse;
    }
    
    .DevenezBenevoleSectionLeft{
        padding-left: 0%;
        flex-direction: column;
        align-items: center;
    }

    .DevenezBenevoleSectionLeft h1{
        padding: 20px 0px;
        text-align: center;
    }

    .DevenezBenevoleButton{
        padding: 16px 56px;
        border-radius: 15px;
        font-size: 20px;
        margin-bottom: 40px;
    }

    .BenevoleCentreInteretText{
        flex-direction: column;
        justify-content: center;
    }

    .BenevoleCentreInteret h1{
        color: white;
        font-size: 8vh;
        font-family: "chillax-Bold";
        line-height: 10vh;
        padding: 30px 5vw 0px 5vw;
        text-align: center;
        margin: 10px;
    }
    
    .BenevoleCentreInteret h2{
        color: white;
        font-size: 4vh;
        font-family: "chillax-Semibold";
        line-height: 4vh;
        padding: 0px 5vw;
        padding-top: 10px;
        margin: 0px;
        text-align: center;
    }

    .DevenezBenevoleSectionRight{
        align-items: center;
        justify-content: center;
    }

    .DevenezBenevoleImg{
        width: 100%;
        height: 100%;
        margin-left: 7px;
        margin-right: 7px;
    }
}

@media screen and (max-width: 1200px){
    .DevenezBenevoleSectionLeft h1{
        font-size: 10vh;
        line-height: 10vh;
        padding: 30px 0px;
    }

    .DevenezBenevoleButton{
        padding: 16px 64px;
        border-radius: 14px;
        font-size: 22px;
    }
}